packages:
  yum:
    git: []
    gcc: []
    make: []
    openssl-devel: []
commands:
  00-add-home-variable:
    command: sed -i 's/function error_exit/export HOME=\/root\n\nfunction error_exit/' /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh
  01-add-node-home-variable:
    command: sed -i 's/function error_exit/export NODE_HOME=\/opt\/elasticbeanstalk\/node-install\/node-v0.10.10-linux-x64\/bin\n\nfunction error_exit/' /opt/elasticbeanstalk/hooks/appdeploy/pre/50npm.sh
  02-clear-npm:
    command: rm -rf ~/.npm
  installSails:
    command: /opt/elasticbeanstalk/node-install/node-v0.10.10-linux-x64/bin/npm install -g sails
    test: /opt/elasticbeanstalk/node-install/node-v0.10.10-linux-x64/bin/npm --version
container_commands:
  cache-clean:
    command: $NODE_HOME/bin/npm cache clean
  installGrunt:
    command: $NODE_HOME/bin/npm install -g grunt-cli
    test: $NODE_HOME/bin/npm --version
  runGrunt:
    command: grunt prod

