<div class="successfullySubmittedMessage">
    <p class="alert alert-success">A verification email has been sent to <%=email%>.</p>
    <p><a href="signIn">Sign In</a></p>
    <p class="alert">Temporary: <a href="validate?e=<%=email%>&k=<%=validation.guid%>">Validation link</a></p>
</div>
