<form method="POST" action="signIn" autocomplete="on" role="form" class="form-horizontal">
    <div class="form-group col-xs-8">
        <label for="email" class="control-label" data-icon="u" >Your email</label>
        <input id="email" class="form-control input-lg" name="email" placeholder="Email" required />
    </div>
    <div class="form-group col-xs-8">
        <label for="password" class="control-label" data-icon="p"> Your password </label>
        <input id="password" class="form-control input-lg" name="password" required="required" type="password" placeholder="Password" />
    </div>
    <div class="col-xs-8">
        <button type="submit" class="btn btn-default btn-lg">Login</button>
        <div class="change_link">
            Not a member yet ?
            <a href="signUp" class="to_register">Join us</a>
        </div>
    </div>
</form>

