<div class="signUpForm">
    <form action="signUp" method="post" autocomplete="on">
        <p>
            <label for="email" class="uname" data-icon="u" >Your email</label>
            <input id="email" name="email" required placeholder="eg. someone@somewhere.com" />
        </p>
        <p>
            <label for="password1" class="youpasswd" data-icon="p"> Your password </label>
            <input id="password" name="password" required type="password" placeholder="eg. X8df!90EO" />
        </p>
        <p>
            <label for="password2" class="youpasswd" data-icon="p"> Your password </label>
            <input id="password2" name="password2" required type="password" placeholder="eg. X8df!90EO again" />
        </p>
        <p>
            A validation email will be sent to your address.
        </p>
        <p class="login button">
            <input type="submit" value="Sign Up" />
        </p>
    </form>
</div>