<div class="validationSuccessful">
    <p class="alert alert-success">Your account has been successfully validated.</p>
    <p><a href="/"><button class="btn btn-default btn-lg">Go to main site</button></a></p>
</div>
