<table id="viewItems" class="table"></table>
<form>
    <label for="body">Photo:</label>
    <input name="body" type="file" />
    <button>Upload</button>
</form>
<script>
    $(function () {
        var itemName = "storedimage";
        var table = $('#viewItems.table'),
                form = $('form');

        function getOne (item, el) {
            socket.get("/" + itemName + "/" + item.id, function (data) {
                el.popover({
                    placement: "bottom",
                    html: true,
                    content: "<img src='" + data.Body + "' />"
                });
            });
            el.find('.close').click(remove.bind(this, item.id, el));
        }

        function getAll () {
            socket.get("/" + itemName, function (items) {
                table.empty();
                _.each(items, function (item) {
                    var el = table.append(JST[itemName](item))
                            .find('#' + itemName + '-' + item.id);

                    getOne(item, el);
                });
            });
        }

        socket.on('message', function (item) {
            if (item.model === itemName) {
                switch(item.verb) {
                    case 'create':
                        getAll();
                        break;
                    case 'destroy':
                        table.find('#' + itemName + '-' + item.id).remove();
                        break;
                    case 'update':
                        table.find('#' + itemName + '-' + item.id)
                                .replaceWith(JST[itemName](item.data))
                                .find('.close').click(remove.bind(this, item.id));
                        break;
                    default:
                        console.log(item);
                        break;
                }
            } else {
                console.log(item);
            }
        });
        form.submit(function (e) {
            e.preventDefault();
            var data = _.reduce(form.serializeArray(), function (result, obj, key) {
                result[obj.name] = obj.value;
                return result;
            }, {});
            var fileInput = form.find('input[type=file]');
            if (fileInput[0] && fileInput[0].files && fileInput[0].files[0]) {
                var reader = new FileReader();
                reader.onload = function(e) {
                    data.body = reader.result;

                    socket.post("/" + itemName, data, function (m1) {
                        console.log("post", m1);
                    });
                };
                reader.readAsDataURL(fileInput[0].files[0]);
            }
        });
        function remove (id, el) {
            el.popover('destroy');
            socket.delete("/" + itemName + "/" + id, function (m1) {
                console.log("destroy", m1);
            });
        }
        getAll();
    })
</script>