<table class="table">
    <tr><td><a href="user/signin"><button class="btn btn-default btn-lg">Sign In</button></a></td></tr>
    <tr><td><a href="message"><button class="btn btn-default btn-lg">Messages</button></a></td></tr>
    <tr><td><a href="storedimage"><button class="btn btn-default btn-lg">Stored Images</button></a></td></tr>
    <tr><td><a href="reminder"><button class="btn btn-default btn-lg">Reminders</button></a></td></tr>
</table>